form {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

form input {
  padding: 5px;
  border: 1px solid #ccc;
}

.formBtn {
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  width: 16%;
  margin-right: 0.5rem;
}

.formBtn:hover {
  background-color: #1976d2;
}

.H2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.formm {
  margin: 4rem 0 4rem 1rem;
}

.titleInput {
  width: 58%;
  padding: 1rem;
}

.catInput {
  width: 25%;
  border: 1px solid #ccc;
  color: #888;
  padding-left: 1rem;
}
